/*-------------------------------------------------------------------------*/
/* Dorna
/*-------------------------------------------------------------------------*/
.section-dorna {
	width: 100%;
	height: auto;
	min-height: 100%;

	top: 0;
	left: 0;

	opacity: 0;
	position: absolute;

	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-line-pack: center;
	align-content: center;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
} .section-dorna.fadeIn {opacity: 1;}

/* Dorna: Player
/*---------------------------------------------------------------*/
.section-dorna .dorna-player {}

/* Dorna: Text
/*---------------------------------------------------------------*/
.section-dorna .dorna-text {
	width: 100%;
	height: auto;

	max-width: 700px;
}

.section-dorna .dorna-text .text-neon {
	color: #ffd9e2;

	line-height: 100%;

	font-size: 5rem;
	font-family: var(--font-family-secondary);

	text-align: center;
	text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;

	animation: 4s neon infinite alternate;
	-o-animation: 4s neon infinite alternate;
	-ms-animation: 4s neon infinite alternate;
	-moz-animation: 4s neon infinite alternate;
	-webkit-animation: 4s neon infinite alternate;
}

@keyframes neon         { 40% {opacity: 1;} 42% {opacity: 0.8;} 43% {opacity: 1;} 45% {opacity: 0.2;} 46% {opacity: 1;} }
@-o-keyframes neon      { 40% {opacity: 1;} 42% {opacity: 0.8;} 43% {opacity: 1;} 45% {opacity: 0.2;} 46% {opacity: 1;} }
@-ms-keyframes neon     { 40% {opacity: 1;} 42% {opacity: 0.8;} 43% {opacity: 1;} 45% {opacity: 0.2;} 46% {opacity: 1;} }
@-moz-keyframes neon    { 40% {opacity: 1;} 42% {opacity: 0.8;} 43% {opacity: 1;} 45% {opacity: 0.2;} 46% {opacity: 1;} }
@-webkit-keyframes neon { 40% {opacity: 1;} 42% {opacity: 0.8;} 43% {opacity: 1;} 45% {opacity: 0.2;} 46% {opacity: 1;} }

.section-dorna .dorna-text .text-type {
	width: 100%;
	height: 200px;

	color: var(--color-primary);

	margin: 1rem 0 0 0;

	font-size: 1.5rem;
	text-align: center;
	font-family: var(--font-family-primary);

	position: absolute;

	word-wrap: break-word;
	word-break: break-word;
}

/* Dorna: Responsive (desktop)
/*---------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
	/* Dorna: Text
	/*---------------------------------------------------------------*/
	.section-dorna .dorna-text {}

	.section-dorna .dorna-text .text-neon {
		font-size: 8rem;
	}

	.section-dorna .dorna-text .text-type {
		font-size: 1.5rem;
	}
}